/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo alto del body para ocupar toda la pantalla */
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilos para App */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

/* Estilos para Header */
.header {
  background-color: #119311; /* Verde */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
  color: hwb(0 100% 0%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.header .header-title {
  font-size: 40px; /* Tamaño del texto aumentado */
  font-weight: bold; /* Peso de la fuente */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
  text-transform: uppercase; /* Texto en mayúsculas */
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 60px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px;
}

.header .nav {
  margin-left: auto; /* Alinea la lista a la derecha */
}

.header .nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header .nav ul li {
  margin-left: 20px; /* Espacio entre elementos de la lista */
}

.header .nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px; /* Tamaño del texto aumentado */
}

.header .nav ul li a:hover {
  text-decoration: underline;
  color: #FFD700; /* Color dorado en hover */
}

/* Estilos para Main */
.main {
  padding: 2rem;
  flex-grow: 1;
  max-width: 100%;
}

.main .hero {
  text-align: center;
  margin-bottom: 2rem;
}

.main .hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main .hero p {
  font-size: 1.5rem;
  color: #666;
}

/* Estilos para Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: auto; /* Asegura que el footer esté al final del contenedor flex */
}

/* Estilos específicos para la página de inicio */
.inicio {
  background: none; /* Elimina el fondo de toda la página */
  min-height: 100vh; /* Establece un tamaño mínimo para evitar que el contenido se solape */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Color de texto blanco para que resalte sobre el contenido */
  max-width: 100%;
}

.inicio .background-section {
  background-image: url('./assets/fondo.jpg'); /* Cambia la ruta por la de tu imagen */
  background-size: cover;
  background-position: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100vh; /* Ajusta la altura según necesites */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Color de texto blanco para que resalte sobre la imagen */
}

.inicio .hero {
  margin-bottom: 2rem;
}

.inicio .hero .hero-title,
.inicio .hero .hero-subtitle {
  font-size: 3rem; /* Ajusta el tamaño del título principal */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mayor contraste */
  background-color: #70dbdb; /* Fondo celeste medio verdoso */
  border: 2px solid #fff; /* Borde blanco alrededor del texto */
  padding: 10px; /* Espacio interno alrededor del texto */
  border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilos para la sección de Objetivo */
.objective-section {
  background-color: #bbdefb; /* Fondo azul claro */
  width: calc(100% - 40px); /* Ocupa casi todo el ancho disponible con margen */
  padding: 20px; /* Añade espacio interno */
  margin-top: 40px; /* Espacio superior */
  text-align: left; /* Alinea a la izquierda */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente */
  border-radius: 20px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #1a237e; /* Color de texto azul oscuro */
  display: flex;
  justify-content: space-between; /* Alinea elementos en el centro */
  align-items: center; /* Alinea verticalmente */
}

.objective-section img {
  max-width: 200px; /* Tamaño máximo de la imagen */
  margin-left: 20px; /* Margen izquierdo */
}

.objective-section .section-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.objective-section .section-title {
  font-size: 2rem; /* Tamaño del título aumentado */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

.objective-section .section-description {
  font-size: 1.2rem; /* Tamaño del texto */
}

/* Estilos para la sección de Juegos */
.games-section {
  background-color: #c5e1a5; /* Fondo verde claro */
  width: calc(100% - 40px); /* Ocupa casi todo el ancho disponible con margen */
  padding: 20px; /* Añade espacio interno */
  margin-top: 40px; /* Espacio superior */
  text-align: right; /* Alinea a la derecha */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente */
  border-radius: 20px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #1a237e; /* Color de texto azul oscuro */
  display: flex;
  justify-content: space-between; /* Alinea elementos en el centro */
  align-items: center; /* Alinea verticalmente */
}

.games-section img {
  max-width: 200px; /* Tamaño máximo de la imagen */
  margin-right: 20px; /* Margen derecho */
}

.games-section .section-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.games-section .section-title {
  font-size: 2rem; /* Tamaño del título aumentado */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

.games-section .section-description {
  font-size: 1.2rem; /* Tamaño del texto */
}

/* Estilos para la sección de Noticias */
.news-section {
  background-color: #b2dfdb; /* Fondo celeste claro */
  width: calc(100% - 40px); /* Ocupa casi todo el ancho disponible con margen */
  padding: 20px; /* Añade espacio interno */
  margin-top: 40px; /* Espacio superior */
  text-align: left; /* Alinea a la izquierda */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente */
  border-radius: 20px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #1a237e; /* Color de texto azul oscuro */
  display: flex;
  justify-content: space-between; /* Alinea elementos en el centro */
  align-items: center; /* Alinea verticalmente */
}

.news-section img {
  max-width: 200px; /* Tamaño máximo de la imagen */
  margin-left: 20px; /* Margen izquierdo */
}

.news-section .section-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.news-section .section-title {
  font-size: 2rem; /* Tamaño del título aumentado */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

.news-section .section-description {
  font-size: 1.2rem; /* Tamaño del texto */
}

/* Estilos para la sección de Sobre Nosotros */
.sobre-nosotros-section {
  background-color: #a5d6a7; /* Fondo verde claro más oscuro */
  width: calc(100% - 40px); /* Ocupa casi todo el ancho disponible con margen */
  padding: 20px; /* Añade espacio interno */
  margin-top: 40px; /* Espacio superior */
  text-align: right; /* Alinea a la derecha */
  font-family: 'Comic Sans MS', sans-serif; /* Fuente */
  border-radius: 20px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #1a237e; /* Color de texto azul oscuro */
  display: flex;
  justify-content: space-between; /* Alinea elementos en el centro */
  align-items: center; /* Alinea verticalmente */
}

.sobre-nosotros-section img {
  max-width: 200px; /* Tamaño máximo de la imagen */
  margin-right: 20px; /* Margen derecho */
}

.sobre-nosotros-section .section-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.sobre-nosotros-section .section-title {
  font-size: 2rem; /* Tamaño del título aumentado */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

.sobre-nosotros-section .section-description {
  font-size: 1.2rem; /* Tamaño del texto */
}
