/* styles.css */

/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilos para App */
.App {
  text-align: center;
}

/* Estilos para Header */
.header {
  background-color: #119311; /* Verde */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
  color: hwb(0 100% 0%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el título del Header */
.header .header-title {
  font-size: 35px; /* Tamaño del texto */
  font-weight: bold; /* Peso de la fuente */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 60px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px;
}

.header .nav {
  margin-left: auto; /* Alinea la lista a la derecha */
}

.header .nav ul {
  list-style-type: none;
  display: flex;
}

.header .nav ul li {
  margin-left: 20px; /* Espacio entre elementos de la lista */
}

.header .nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.header .nav ul li a:hover {
  text-decoration: underline;
  color: #FFD700; /* Color dorado en hover */
}

/* Estilos para Main */
.main {
  padding: 2rem;
}

.main .hero {
  text-align: center;
  margin-bottom: 2rem;
}

.main .hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main .hero p {
  font-size: 1.5rem;
  color: #666;
}

/* Estilos para Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos específicos para la página de inicio */
.inicio {
  background-image: url('./assets/fondo.jpeg'); /* Cambia la ruta por la de tu imagen */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajusta la altura según necesites */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Color de texto blanco para que resalte sobre la imagen */
}

.inicio .hero {
  margin-bottom: 2rem;
}

.inicio .hero h1 {
  font-size: 3rem; /* Ajusta el tamaño del título principal */
  font-family: 'Comic Sans MS', sans-serif; /* Cambia la fuente del título */
}

.inicio .hero p {
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
}

.inicio .project {
  padding: 2rem;
  background-color: #f1f1f1; /* Cambia el color de fondo del área del proyecto si es necesario */
  border-radius: 10px; /* Añade bordes redondeados si deseas */
  margin-top: 2rem; /* Ajusta el margen superior según sea necesario */
}
